[user]
  name = Ray Grasso
  email = ray.grasso@gmail.com
[color]
  ui = auto
[core]
  excludesfile = /opt/boxen/config/git/gitignore
  editor = /usr/local/bin/vim
  quotepath = false
[push]
    default = simple
[branch]
  autosetuprebase = always
[pull]
    default = current
[diff]
  tool = Kaleidoscope
  memonicprefix = true
	compactionHeuristic = true
[difftool]
  prompt = false
[github]
  user = grassdog
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[merge]
  tool = Kaleidoscope
[credential]
  helper = /opt/boxen/bin/boxen-git-credential
[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true
[mergetool]
  prompt = false
[alias]
  unstage = reset HEAD

  # What's changed since last pull
  news = log -p HEAD@{1}..HEAD@{0}

  # Mark a repo as trusted
  trust = "!mkdir -p .git/safe"

  # List commits
  ls = log --graph --pretty=format:"%C(yellow)%h%Cblue%d%Creset\\ %s\\ %C(green)\\ %an,\\ %ar%Creset"

  # List with patches
  ll = log --graph --pretty=format:"%C(yellow)%h%Cblue%d%Creset\\ %s\\ %C(green)\\ %an,\\ %ar%Creset" -p

  # Log showing the graph
  lg = log --all --graph --oneline --decorate

  # Details of last commit
  l1 = "!git ll -1"

  # Grep
  g = "!f() { git log -G$1; }; f"
  gd = "!f() { git log -p -G$1; }; f"

  # File log (diff details with commit log)
  fl = log -u

  # Diff a revision
  dr  = "!f() { git diff "$1"^.."$1"; }; f"
  dtr = "!f() { git difftool "$1"^.."$1"; }; f"

  # Fancy diff
  dsf = "!git diff --color $@ | diff-so-fancy"

  # List aliases
  la = "!git config -l | grep alias | cut -c 7-"

  # Safer pull
  update = "!git remote update -p; git merge --ff-only @{u}"

  # Wipe out current work (still creates a commit in the reflog)
  wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard

  # Remove merged local branches
  cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"

[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true

[hub]
protocol = https
[interactive]
	diffFilter = diff-so-fancy
