"*":
  "autocomplete-elixir":
    elixirPath: "/usr/local/bin/elixir"
    erlangHome: "/usr/local/bin/erl"
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "vim-mode"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "gloom"
    ]
  editor:
    fontFamily: "Operator Mono"
    invisibles:
      space: " "
    showIndentGuide: true
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "7c379f71-8aba-a3c9-7c88-df7fe4d48894"
  "linter-elm-make":
    elmMakeExecutablePath: "/usr/local/bin/elm-make"
  "linter-ui-default": {}
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "vim-mode":
    useSmartcaseForSearch: true
    wrapLeftRightMotion: true
  welcome:
    showOnStartup: false
