[user]
	name = Ray Grasso
	email = ray.grasso@gmail.com
[color]
	ui = auto
[core]
	excludesfile = $HOME/.gitignore_global
	editor = /usr/bin/vim
	quotepath = false
#[diff]
#	external = $HOME/bin/git-diff-wrapper.sh
[alias]
	unstage = reset HEAD
  ll = log ORIG_HEAD..HEAD --pretty=oneline
[rerere]
  enabled = 1
# Always rebase when pulling into tracking branches
#[branch]
#  autosetuprebase = always

[difftool "Kaleidoscope"]
	cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[diff]
	tool = Kaleidoscope
[github]
	user = grassdog
[difftool "sourcetree"]
	cmd = /Applications/Kaleidoscope.app/Contents/MacOS/ksdiff -w \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
