*~
*.elc
auto-save-list
recentf
savehist
saveplace
eshell
elpa
el-get
semanticdb
url
ede-projects.el
.DS_Store
places
.smex-items
savefile/
.mc-lists.el
projectile.cache
projectile-bookmarks.eld
ido.last
ac-comphist.dat
cider-history
undo
tramp
speed-type
network-security.data
/var
