snippet dbg "debugger"
debugger
endsnippet

snippet ### "banner comment"
#
# $0
#
endsnippet

snippet ci "console.info" b
console.info "${1:value}"
endsnippet

snippet cl "console.log" b
console.log "${1:value}"
endsnippet

snippet cd "console.debug" b
console.debug "${1:value}"
endsnippet
