snippet dbg "debugger"
debugger
endsnippet

snippet ### "banner comment"
#
# $0
#
endsnippet

snippet ci "console.info" b
console.info ${1:"${2:value}"}
endsnippet

snippet cl "console.log" b
console.log ${1:"${2:value}"}
endsnippet

snippet cd "console.debug" b
console.debug ${1:"${2:value}"}
endsnippet
